In [1]:
import pandas as pd

In [7]:
groceries = pd.Series(data=[30, 6, 'Yes', 'No'], index=['eggs', 'apples', 'milk', 'bread'])
groceries

eggs       30
apples      6
milk      Yes
bread      No
dtype: object

In [8]:
groceries.shape

(4,)

In [9]:
groceries.ndim

1

In [10]:
'banana' in groceries

False

In [11]:
groceries['eggs']

30

In [13]:
groceries[['milk', 'bread']]

milk     Yes
bread     No
dtype: object

In [14]:
groceries[0]

30

In [16]:
groceries[[-1, 0]]

bread    No
eggs     30
dtype: object

In [17]:
groceries.loc[['eggs', 'bread']]

eggs     30
bread    No
dtype: object

In [18]:
groceries.iloc[[2,3]]

milk     Yes
bread     No
dtype: object

In [19]:
groceries['eggs'] = 2

In [20]:
groceries

eggs        2
apples      6
milk      Yes
bread      No
dtype: object

In [24]:
groceries.drop('milk', inplace=True)
groceries

eggs      2
bread    No
dtype: object

dropped apples in earlier attempt

In [25]:
fruits = pd.Series([10, 6, 3], ['apples', 'oranges', 'bananas'])
fruits

apples     10
oranges     6
bananas     3
dtype: int64

In [26]:
fruits + 2

apples     12
oranges     8
bananas     5
dtype: int64

In [27]:
fruits - 2

apples     8
oranges    4
bananas    1
dtype: int64

In [28]:
fruits * 2

apples     20
oranges    12
bananas     6
dtype: int64

In [29]:
fruits / 2

apples     5.0
oranges    3.0
bananas    1.5
dtype: float64

In [30]:
import numpy as np

In [31]:
np.sqrt(fruits)

apples     3.162278
oranges    2.449490
bananas    1.732051
dtype: float64

In [32]:
np.exp(fruits)

apples     22026.465795
oranges      403.428793
bananas       20.085537
dtype: float64

In [33]:
np.power(fruits, 2)

apples     100
oranges     36
bananas      9
dtype: int64

In [35]:
fruits['bananas'] + 2

5

In [36]:
fruits.iloc[0] - 2

8

In [37]:
fruits[['apples', 'oranges']] * 2

apples     20
oranges    12
dtype: int64

In [38]:
fruits.loc[['apples', 'oranges']] / 2

apples     5.0
oranges    3.0
dtype: float64

In [39]:
groceries * 2

eggs        4
bread    NoNo
dtype: object

In [67]:
items = {'Bob' : pd.Series([245, 25, 55], index=['bike', 'pants', 'watch']),
         'Alice' : pd.Series([40, 110, 500, 45], index=['book', 'glasses', 'bike', 'pants'])}

type(items)

dict

In [68]:
items2 = [{'bikes': 20, 'pants': 30, 'watches': 35, 'shirts': 15, 'shoes':8, 'suits':45},
{'watches': 10, 'glasses': 50, 'bikes': 15, 'pants':5, 'shirts': 2, 'shoes':5, 'suits':7},
{'bikes': 20, 'pants': 30, 'watches': 35, 'glasses': 4, 'shoes':10}]

store_items = pd.DataFrame(items2, index = ['store 1', 'store 2', 'store 3'])
store_items

         bikes  glasses  pants  shirts  shoes  suits  watches
store 1     20      NaN     30    15.0      8   45.0       35
store 2     15     50.0      5     2.0      5    7.0       10
store 3     20      4.0     30     NaN     10    NaN       35

In [71]:
x = store_items.isnull().sum().sum()
print(x)

3

In [72]:
store_items.count()

bikes      3
glasses    2
pants      3
shirts     2
shoes      3
suits      2
watches    3
dtype: int64

In [73]:
store_items.dropna(axis=0)

         bikes  glasses  pants  shirts  shoes  suits  watches
store 2     15     50.0      5     2.0      5    7.0       10

In [74]:
store_items.dropna(axis=1)

         bikes  pants  shoes  watches
store 1     20     30      8       35
store 2     15      5      5       10
store 3     20     30     10       35

In [75]:
store_items.fillna(0)

         bikes  glasses  pants  shirts  shoes  suits  watches
store 1     20      0.0     30    15.0      8   45.0       35
store 2     15     50.0      5     2.0      5    7.0       10
store 3     20      4.0     30     0.0     10    0.0       35

In [78]:
store_items.fillna(method='ffill', axis=1)

         bikes  glasses  pants  shirts  shoes  suits  watches
store 1   20.0     20.0   30.0    15.0    8.0   45.0     35.0
store 2   15.0     50.0    5.0     2.0    5.0    7.0     10.0
store 3   20.0      4.0   30.0    30.0   10.0   10.0     35.0

In [79]:
store_items.fillna(method='backfill', axis=1)

         bikes  glasses  pants  shirts  shoes  suits  watches
store 1   20.0     30.0   30.0    15.0    8.0   45.0     35.0
store 2   15.0     50.0    5.0     2.0    5.0    7.0     10.0
store 3   20.0      4.0   30.0    10.0   10.0   35.0     35.0